= dark_container do
    %h1.mb-2.text-info Editing task

    = render 'form'
    
    - if params[:from] == 'user'
        = link_to 'Back', user_path(@task.user), class: "btn btn-outline-info"
    - else 
        = link_to 'Back', project_path(@task.project), class: "btn btn-outline-info"
