.container-fluid.vh-100.d-flex.flex-column.justify-content-center.align-items-center
  - if user_signed_in?
    %p Welcome back, #{current_user.email}!
    = link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-danger"
  - else
    .container.text-center.py-5.rounded-3.w-100.w-md-50.w-lg-25.bg-darker
      %h1.mb-5 Welcome to Redmine Clone

      .d-flex.flex-column.flex-md-row.align-items-center.justify-content-center.p-1
        %p.mb-0.me-2.fs-5 Already have an account?
        = link_to "Login", new_user_session_path, class: "btn btn-primary"

      .d-flex.flex-column.flex-md-row.align-items-center.justify-content-center.p-1.mt-3
        %p.mb-0.me-2.fs-5 New user?
        = link_to "Registration", new_user_registration_path, class: "btn btn-secondary"
