= dark_container do
    %h1.mb-2.text-info Editing project

    = render 'form'

    = link_to 'Show', @project, class: "btn btn-outline-info"

    = link_to 'Back', projects_path, class: "btn btn-outline-info"
